[user]
	name = Sam Starling
	email = 42478+samstarling@users.noreply.github.com
	signingkey = {{ .signingKey }}
	useConfigOnly = true
[includeIf "gitdir:~/go/src/github.com/incident-io"]
	path = ~/.gitconfig.incident
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[alias]
	st = status
	br = branch --sort=-committerdate
	co = checkout
	cb = "!f() { git checkout -b sam/$1; }; f"
	now = commit --amend --date=now
	rc = rebase --continue
	yolo = push --force-with-lease
	nb = "!f() { git checkout -b "sam/$(date +%Y-%m)-$1"; }; f"
	inc = "!f() { git checkout -b \"$USER/inc-$1\"; }; f"
[core]
	pager = delta
	excludesfile = ~/.gitignore
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	features = decorations
	line-numbers = true
	side-by-side = true
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
